<div>

    <h2 translate="togafquizzApp.reponseStagiaire.home.title">ReponseStagiaire</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveReponseStagiaireModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="togafquizzApp.reponseStagiaire.home.createLabel">Create a new ReponseStagiaire</span>
    </button>
    <div class="modal fade" id="saveReponseStagiaireModal" tabindex="-1" role="dialog" aria-labelledby="myReponseStagiaireLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myReponseStagiaireLabel" translate="togafquizzApp.reponseStagiaire.home.createOrEditLabel">Create or edit a ReponseStagiaire</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="reponseStagiaire.id" readonly>
                        </div>


                        <div class="form-group">
                            <label translate="togafquizzApp.reponseStagiaire.resultat">resultat</label>
                            <select class="form-control" ng-model="reponseStagiaire.resultat.id" ng-options="resultat.id as resultat.id for resultat in resultats">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="togafquizzApp.reponseStagiaire.question">question</label>
                            <select class="form-control" ng-model="reponseStagiaire.question.id" ng-options="question.id as question.id for question in questions">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="togafquizzApp.reponseStagiaire.reponse">reponse</label>
                            <select class="form-control" ng-model="reponseStagiaire.reponse.id" ng-options="reponse.id as reponse.id for reponse in reponses">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteReponseStagiaireConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(reponseStagiaire.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="togafquizzApp.reponseStagiaire.delete.question" translate-values="{id: '{{reponseStagiaire.id}}'}">Are you sure you want to delete ReponseStagiaire {{reponseStagiaire.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="togafquizzApp.reponseStagiaire.reponse">resultat</th>
                    <th translate="togafquizzApp.reponseStagiaire.reponse">question</th>
                    <th translate="togafquizzApp.reponseStagiaire.reponse">reponse</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="reponseStagiaire in reponseStagiaires">
                    <td><a ui-sref="reponseStagiaireDetails({id:reponseStagiaire.id})">{{reponseStagiaire.id}}</a></td>
                    <td>{{reponseStagiaire.resultat.id}}</td>
                    <td>{{reponseStagiaire.question.id}}</td>
                    <td>{{reponseStagiaire.reponse.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="reponseStagiaireDetail({id:reponseStagiaire.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(reponseStagiaire.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(reponseStagiaire.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
